<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for item in  states.values() | sort(attribute='name') %}
            <LI>{{ item.id }}: <B>{{ item.name }}</B>
                <UL>
                    {% for i in  cities.values() | sort(attribute='name') %}
                    {% if i.state_id == item.id %}
                    <LI>{{ i.id }}: <B>{{ i.name }}</B></LI>
                    {% endif %}
                    {% endfor %}
                </UL>
            {% endfor %}
            </LI>
        </UL>
    </BODY>
</HTML>